[Unit]
Description=Timer for Bluelight Filter at Sunset and Sunrise

[Timer]
OnCalendar=*-*-* 19:00:00
Unit=sunset.service

[Install]
WantedBy=graphical.target
