# .inputrc

# do not bell on tab-completion
set bell-style none

# Meta
set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

# Vi mode
set editing-mode vi
set keymap vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

# Show all autocomplete options if uncertain
set show-all-if-ambiguous on
set completion-ignore-case on

# Color files by types, may cause completion text blink in xterm
set colored-stats On 
set visible-stats On
set mark-symlinked-directories On
set colored-completion-prefix On
set menu-complete-display-prefix On

# Completion settings
set page-completions Off
set print-completions-horizontally On
set skip-completed-text On
