@import 'colors.css';

* {
    font-family: system-ui;
    font-size: 16px;
    background-color: @background;
    color: @foreground;
    padding: 0 0px;
}

window#waybar {
    transition-property: background-color;
    transition-duration: .125s;
    opacity: 0.9;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    text-shadow: @foreground 0 1px;
}

#workspaces button.focused {
    color: @color0;
    background: @color1;
    padding: 0 1px;
}

#workspaces button.urgent {
    color: @background;
    background: @foreground;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
