[Unit]
Description=Start System76-Power daemon at Boot

[Service]
Type=oneshot
; Environment="TERM=dumb"
RemainAfterExit=true
ExecStart=/usr/bin/system76-power daemon

[Install]
WantedBy=multi-user.target
